.subtitleabout {
    font-size: 29px;
    font-weight: 600;
    margin-bottom: px;
}

.about {
    grid-column: 1/3;
    padding: 32px;

}

.about p {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 300;

    margin-top: 12px;
}

@media (max-width: 1080px) {
    .about {

        padding: 24px;
    }

    .about p {

        padding: 14px;
    }
}

