.cardcomp {
    border-radius: 12px;
    background: var(--background-card);
    box-shadow: var(--shadow-card);
    width: 100%;
    grid-column: 1 / 3;

}

.competencias {
    padding: 32px 40px;          
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.competencias .subtitle {
    font-size: 30px;
    font-weight: 600;
    color: #0f172a;
    margin-bottom: 10px;  
    margin-left: -20px;
}

.competencias__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    list-style: none;
    padding: 0;
    margin: 0;
}

.competencia {
    background: #f8fafc;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #334155;

    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);

    transition: 0.25s ease;
}

.competencia:hover {
    background: #e2e8f0;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.10);
}

@media (max-width: 600px) {
    .competencias {
        padding: 24px;
    }

    .competencias .subtitle {
        font-size: 26px;
    }

    .competencia {
        font-size: 13px;
        padding: 8px 16px;
    }
}
