.contatos {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.contatos__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 0 16px 24px 16px; 
}

.contatos .subtitle {
    font-size: 32px;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 24px;
    padding-left: 24px; 
    margin-top: 28px;
}



.contato__item {
    background: #ffffff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    gap: 6px;

    text-decoration: none;
    color: inherit;

    transition: 0.22s ease;
}

.contato__item i {
    font-size: 32px;
    color: #3b82f6;
}

.contato__item strong {
    font-size: 18px;
}

.contato__item span {
    color: #6b7280;
    font-size: 14px;
}


.contato__item:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 26px rgb(0 0 0 / 7%);
}


@media (max-width: 768px) {
    .contatos__grid {
        grid-template-columns: 1fr;
    }
}
