
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    height: 68px;
    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.65);

    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    z-index: 1100;
}

.header nav {
    display: flex;
    gap: 32px;
}

.header nav a {
    font-size: 17px;
    font-weight: 500;
    color: #334155;
    text-decoration: none;
    position: relative;

    transition: color .25s ease;
}

.header nav a::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;

    width: 0%;
    height: 2px;

    background: #334155;
    border-radius: 2px;

    transition: width .25s ease;
}

.header nav a:hover {
    color: #0f172a;
}

.header nav a:hover::after {
    width: 100%;
}

@media (max-width: 600px) {

    .header {
        height: 70px;
        padding: 0 20px;
    }

    .header nav {
        gap: 20px;
    }

    .header nav a {
        font-size: 16px;
    }

}
