.social {
    display: flex;
    column-gap: 8px;

    margin-top: 24px;
}

.social__link{
    width: 46px;
    height: 46px;

    border-radius: 4px;
    background: var(--background-body);

    color: var(--secondary);
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.3s;

    
}

.social__link:hover {
    background: var(--link);
    color: #FFF;
    transform: translate(-12px);
}

.socia__link i {
    font-size: 22px;
}