.user {
    grid-column: 1/3;
    padding: 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

}

.user picture {
    width: 200px;
    height: 200px;

    border-radius: 12px;
    box-shadow: var(--shadow-image);

    margin: -100px;
}

.user picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 12px;

}

.user__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
    margin: 120px 0 0;

}

.user__content h1 {
    font-size: 32px;
}

.user__content p {
    font-size: 18px;
    font-weight: 300;
}

@media (max-width: 1080px) {
    .user {
        padding: 0 24px 24px;
    }

    .user picture {
        width: 140px;
        height: 140px;

        margin-top: -70px;
    }

    .user__content h1 {
        font-size: 28px;
    }

    .user__content p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .user {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        gap: 20px;
        text-align: left;
    }

    .user picture {
        width: 140px;
        height: 140px;
        margin: 0;           /* remove margens negativas */
        border-radius: 12px;
        flex-shrink: 0;
      
    }

    .user picture img {
        border-radius: 12px 0 0 12px;
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }

    .user__content {
        margin: 0;
        align-items: flex-start;
    }


    .user__content h1 {
        font-size: 26px;
        text-align: left;
    }

    .user__content p {
        font-size: 14px;
        text-align: left;
    }

}

@media (max-width: 550px) {
    .user {
        flex-direction: column;
        row-gap: 6px;
        padding: 24px;
    }

    .user picture {
        width: 100px;
        height: 100px;

    }

    .user picture img {
        border-radius: 12px;
    }

    .user__content h1 {
        font-size: 24px;
        text-align: right;
    }
}